/Benkyou.Application/obj/
/Benkyou.Domain/bin/
/Benkyou.Domain/obj/
/Benkyou.Infrastructure/bin/
/Benkyou.Infrastructure/obj/
/Benkyou.Presentation/bin/
/Benkyou.Presentation/obj/
/Benkyou.Application/bin/
/.idea/
/Benkyou-backend/
/Notification.Api/obj/
/Notification.Api/bin/